{% block content %}
<p id="error" class="error">Something went wrong. Perhaps you might want to check the <a href="categories.html">Categories</a>.</p>
<article id="post" class="post">
    <h2>
        <a id="title" href="#" rel="bookmark" class="post-title" title="Permalink to x"></a>
    </h2>
    <img id="emoji" class="emoji" src="" width="" height="" alt="" />
    <p id="kana" class="kana"></p>
    <p id="romaji" class="alphabet"></p>
    <p id="english" class="translation"></p>
    <footer class="post-info small">
        <ul id="tags" class="tags">
        </ul>
        <p>
            <abbr class="social" title="Google Plus">
                <a id="social_gp" href="#" target="_blank">g+</a>
            </abbr>
            <abbr class="social" title="Facebook">
                | <a id="social_fb" href="#" target="_blank">fb</a>
            </abbr>
            <abbr class="social" title="Twitter">
                | <a id="social_tw" href="#" target="_blank">tweet</a>
            </abbr>
            <abbr class="published" title="" >
                | <a id="social_perm" href="#"></a>
            </abbr>
        </p>
        <p id="modified_block">
            <abbr class="modified" title="">
            </abbr>
        </p>
    </footer>
</article>
{% endblock content %}

